    
    <div id="container">

        <div class="row">

            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="nav-side-menu">
                    <div class="brand">Cesium</div>
                    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                    <div class="menu-list">

                        <ul id="menu-content" class="menu-content collapse out" id="dashboard">
                            <li data-toggle="collapse" data-target="#dashboard" class="collapsed" id="dash" onclick='checkCollapsed()'>
                                <a href="#" onclick='return false; '><i class="fa fa-dashboard fa-lg"></i> Dashboard <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="dashboard">
                                 <li data-toggle="collapse" data-target="#warehouse" class="collapsed" id="ware" onclick='checkCollapsedWarehouse()'>
                                <a href="#" onclick='return false;'><i class="fa fa-map-marker"></i> Warehouse <span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="warehouse">

                                </ul>
                            </li>
                            </ul>
                            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                                <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="products">
                                <li class="active"><a href="#">CSS3 Animation</a></li>
                                <li><a href="#">General</a></li>
                                <li><a href="#">Buttons</a></li>
                                <li><a href="#">Tabs & Accordions</a></li>
                                <li><a href="#">Typography</a></li>
                                <li><a href="#">FontAwesome</a></li>
                                <li><a href="#">Slider</a></li>
                                <li><a href="#">Panels</a></li>
                                <li><a href="#">Widgets</a></li>
                                <li><a href="#">Bootstrap Model</a></li>
                            </ul>


                            <li data-toggle="collapse" data-target="#locationlist" class="collapsed">
                                <a href="#" onclick='return false;'><i class="fa fa-globe fa-lg"></i> Locations <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="locationlist">

                            </ul>


                            <li data-toggle="collapse" data-target="#new" class="collapsed">
                                <a href="#" onclick='return false;'><i class="fa fa-archive"></i> New <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="new">
                                <li onclick=showModal()>New Location</li>
                            </ul>

                            <li data-toggle="collapse" data-target="#area" class="collapsed">
                                <a href="#" onclick='return false;'><i class="fa fa-user fa-lg"></i> Area Select <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="area">
                                <li onclick='viewerEventListener(); return false;'>New Select</li>
                            
                                <li onclick='viewerEventRemoveListener(); return false;'>Cancel</li>
                            </ul>
                                

                            <li>
                                <a href="#">
                                    <i class="fa fa-users fa-lg"></i> Users
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-9 col-md-9">
                <div #cesiumContainer class="cesium-container"></div>
            </div>
        </div>
